<div class="container">
  <app-toolbar></app-toolbar>
</div>

<app-header></app-header>
<app-divider [dividerText]="'skils_divider' | translate"></app-divider>

<app-skils></app-skils>

<app-divider [dividerText]="'works_divider' | translate"></app-divider>

<app-works></app-works>

<app-divider [dividerText]="'pricing_divider' | translate"></app-divider>

<app-pricing></app-pricing>

<app-divider [dividerText]="'platforms_divider' | translate"></app-divider>

<app-platforms></app-platforms>

<app-footer></app-footer>