/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;
@import "bootstrap/dist/css/bootstrap.min.css";

// Customize the entire app. Change :root to your selector if you want to scope the styles.

html {
    color-scheme: light dark;
    @include mat.theme((typography: Changa,
            density: 0));
}

html,
body {
    height: 100%;

}

body {
    margin: 0;
    font-family: Changa, Roboto, "Helvetica Neue", sans-serif;
    font-family: Changa, Roboto, "Helvetica Neue", sans-serif;

    background-color: var(--mat-sys-surface);
    color: var(--mat-sys-on-surface);
}